# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=podcastors
DB_PORT=5432
DB_HOST=db

# App Configuration
WEB_PORT=3000
API_PORT=4000

# Connection String (For local use outside of Docker, change host 'db' to 'localhost')
DATABASE_URL=postgresql://postgres:postgres@db:5432/podcastors?schema=public
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_56ZUn1gULz6srk4h_4YIvBIPEaS2XAf9E3dmC7buHYdLgaw"

# Frontend Config
NEXT_PUBLIC_API_URL=http://localhost:4000
